<h1>Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= product.name %></strong><br>
      <%= truncate product.description %><button class="js-product-more" data-id=<%= product.id %>>...More</button>
    </li>
  <% end %>
</ul>